body {
  height:auto;
  margin:0;
  padding:0;
  background: url(../../public/img/background/chaumiere.webp) no-repeat center fixed;
  -webkit-background-size: cover;
   background-size: cover;
   font-size : 1.3em;
   font-family : URW Chancery L;
   color : white;
}
