@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');

}

body{
  background: url(../../public/img/background/Patronus-Background3.gif) no-repeat center fixed;
  -webkit-background-size: length;
  background-size: length;
  font-family:"urw_chancery_l_medium_italic";
  /* color: white; */
}

#neville{
  /* position : relative; */
  opacity:0.7;

}

#accueil{
  position:relative;
  left:48%;
}

#text{
  position: fixed;
  top:20%;
  left :30%;
}
