body {
  height:auto;
  margin:0;
  padding:0;
  background: url(../../public/img/indice/parchment.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
   background-size: cover;
   font-size : 1.3em;
   font-family : URW Chancery L;
}

#message{
	width : 80% ;
	margin : auto ;
	text-align : justify ;
	margin-top : 5em;     /* on centre le message et on justifie son texte */
}

/*On place le logo en haut à droite*/
#logo{
  width : 10%;
  position : fixed;
  right : 0;
  top : 0;
}
