
body {
  margin:0;
  padding:0;
  background: url(../../public/img/background/prison.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color:white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#logo{
  height :1.5em;
}

.carousel img {
  position: relative;
  top: 0;
  left: 0;
  opacity : 0.7;
}

.carousel .item {
  height: 100%;
}


#choix{
  width:100vw;
  color:white;
}
