@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');

}

body{
  background: url(../img/background/Manoir_des_Malefoy.jpg) no-repeat center fixed;;
  -webkit-background-size: length;
  background-size: length;
  font-family:"urw_chancery_l_medium_italic";
  color:white;
}


.chemin{
  background: white;
  opacity:0.7;
}


.mur{
  background: url(../img/labyrinthe/haie.jpg);
  -webkit-background-size: length;
  background-size: length;
}


.bordure, td{
  height : 2px;
  background: black;
}

.bordure, tr{
  height :2px;
  width : 2px;
}


td {
  width :30px;
}

tr{
  height :41px
}

.colonne-centree{
float: none;
margin: 0 auto;
}

#titre{
  width: 100vw;
}
