@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');
}

#minuteur{
  width:100vw;
  /* text-align: right; */
}

body{
  background: url(../img/background/tapis.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-family:"urw_chancery_l_medium_italic";
  color:white;
}

img{
  cursor : pointer;
  width : 50%;
}
