@font-face{
  font-family: 'urw_chancery_l_medium_italic';
  src: url('../police/urw_chancery_l_medium_italic/urw_chancery_l_medium_italic.ttf');

}

body{
  background: url(../../public/img/background/perdu.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-family:"urw_chancery_l_medium_italic";
  color: white;
}

#voldemort{
  position : relative;
  left :42%;
}

#accueil{
  position:relative;
  left:48%;
}

#text{
  position: fixed;
  top:20%;
}
